html{
    background: #d1d1d1;
}

.calc{
    margin: 50px auto;
    width: 300px;
    height: 500px;
    background: #000;
    border: 1px solid black;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px;
    box-shadow: 4px 4px 4px rgb(80, 79, 79);
}

.calc-screen{
    height: 125px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 1em;
}
.calc-screen p{
    text-align: right;
    font-size: 4rem;
    margin: 0;
}

.buttons{
    display: grid;
    grid-template-areas: 
    "ac plus-minus percent division"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";

    grid-gap: 7px;
    justify-items: center;
}

.btn{
    width: 60px;
    height: 60px;
    background: #3b3b3b;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5em;
    cursor: pointer;
    user-select: none;
}

.btn.zero{
    grid-area: zero;
    width: 100%;
    border-radius: 34px;
}

.btn:hover{
    filter: brightness(120%)
}

.btn:active{
    filter: brightness(90%);
}

.btn.bg-grey{
    background: #838383;
}

.btn.bg-orange{
    background: rgb(207, 145, 30);
}